*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-head: rgba(242, 242, 101, 0.133);
    --color-white: rgb(244, 244, 244);
    --color-black-shade: rgb(41, 39, 39) ;
    --color-main : rgb(48, 197, 143);
}

body{
    font-family: 'Jost';
    margin: 0;
    padding: 0;
}

.head{
    background-color:var(--color-head);
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0.2rem 0rem 0.2rem 0rem;
    gap: 1rem;
}
.head p{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

/* navbar */
nav{
    background-color: var(--color-white);
    color: var(--color-black-shade);
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.nav ul li{
    text-decoration: none;
    list-style: none;
    color: var(--color-black-shade);
    font-size: 1.6rem;
    position: relative;
}

.nav ul li a{
    text-decoration: none;
    color: var(--color-black-shade);
}

.nav ul li a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0.3rem;
    background-color: #000;
    transition: all 0.5s linear;
    border-radius: 0.2rem;
}

.nav ul li a:hover:before{
    width: 100%;
    background-color: #61599a;
}

.logo img{
    height: 8rem;
    width: 10rem;
}

/* background with image */

.background{
    height: 100%;
    width: 100%;
    position: relative;
}

.background img{
    height: 100%;
    width: 100%;
}

.para{
    position: absolute;
    left: 20rem;
    top: 3rem;
    height: 20rem;
    width: 25rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.72);
    text-align: justify;
}

.para h1{
    font-size: 1.6rem;
}


/* main */
main{
    background-color:var(--color-main);
    color: var(--color-white);
}
.main-q{
    padding: 1.5rem 4rem 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.main-q p{
    font-size: 1.2rem;
}

.row-l{
    width: 100%;
    height: 25rem; 
    margin: 2rem 0rem 2rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
}

.row-l:last-child{
    margin: 2rem 0rem 0rem 0rem;
    padding: 1rem 0rem 2rem 0rem;
}

.col-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 70%;
    height: 100%;
    background-color: var(--color-white);
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    color: var(--color-black-shade);
}

.img img{
    height: 16rem;
    width: 18rem;
    padding: 0rem 3rem 0rem 0rem;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.card-body{
    text-align: center;
    line-height: 1.4rem;
}


.col-2{
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 70%;
    height: 100%;
    background-color: #000;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}

.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.btn-learnmore{
    height: 2rem;
    width: 6rem;
    background-color: #000;
    border-radius: 0.5rem;
    color: var(--color-white);
}

.card-footer-2 button{
    height: 2rem;
    width: 6rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    color: var(--color-black-shade);
}


/* about us ------------------------ */

.background-image{
    height: 100%;
    width: 100%;
    position: relative;
}

.background-image img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutus{
    position: absolute;
    top: 0%;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    padding: 10rem;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.main-frame{
    background-color: var(--color-white);
}

.content{
    display: flex;
    justify-content:space-between;
    gap: 1rem;
}

.content img{
    padding: 4rem 0rem 1.2rem 4rem;
    height: 35rem;
    width: 30rem;
}

.paragraph{
    padding: 3rem;
}
.paragraph h1{
    padding: 1rem 0rem 1rem 0rem;
}

.paragraph p{
    line-height: 2rem;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-align: justify;
}


.ourmission{
    background-color: var(--color-black-shade);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ourmissionh1{
    position: relative;
}

.ourmissionh1 h1{
    color: var(--color-white);
    font-size: 2rem;
    padding: 2rem;
}

.ourmissionpara p{
    color: var(--color-white);
    font-size: 1rem;
    padding: 1rem 10rem 2rem 10rem;
    text-align: center;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
}

.ourmissionh1:before{
    content: " ";
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: rgb(213, 164, 41);
    border-radius : 0.3rem;
    top: 80%;
    left: 0;
}
/* ratings style */

.ratings{
    background-color: var(--color-white);
    text-align: center;
}

.rate-quote{
    padding: 1.2rem;
}

.rate-row{
    display: flex;
    justify-content: space-around;
    gap:  2rem;
    padding: 1rem;
}

.rate-col-1{
   width: 30rem;
   height: auto;
    color: var(--color-black-shade);
   /* background-color: rgba(230, 233, 218, 0.6); */
   padding: 1rem;

}

.rate-para{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}

.testimonals{
    position: relative;
}

.testimonals p{
    color: rgb(177, 177, 177);
    font-size: 1.2rem;
    padding: 1.2rem;
}

.testimonals:before{
    content: " ";
    position: absolute;
    height: 0.2rem;
    width: 10%;
    justify-content: center;
    background-color: rgb(213, 164, 41);
    border-radius : 0.3rem;
    top: 80%;
    left: 45%;
}

.ourstory{
    position: relative;
}

.ourstory:before{
    content: " ";
    position: absolute;
    height: 0.2rem;
    width: 8%;
    justify-content: center;
    background-color: rgb(183, 144, 45);
    border-radius: 0.3rem;
    top: 80%;
    left: 2%;
}

.ourstory p{
    color: rgb(177, 177, 177);
    font-size: 1.2rem;
    padding: 1rem 0rem 1rem 0rem;
}

/* ratings ends */


/* products-------------------- */

.productsh1{
    position: relative;
    padding: 3rem;
}

.productsh1 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-justify: inter-word;
}

.productsh1 h1:before{
    content: '';
    position: absolute;
    left: 45%;
    top: 75%;
    width: 10%;
    height: 0.2rem;
    background-color: #000;
}

.product-card{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-pro {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0rem 20rem 0rem 20rem;
}

.card-pro:last-child{
    margin: 0rem 0rem 2rem 0rem;
}

.card-pro img{
    height: 18rem;
    width: 20rem;
}

.card-pro-para{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-justify: inter-word;
}

.btn-read-more{
    height: 2rem;
    width: 6rem;
    background-color: transparent;
    color: black;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}

.btn-read-more a{
    color: black;
    text-decoration: none;
}


.aboutproduct{
    height: 100%;
    width: 100%;
    position: relative;
}
.aboutproduct img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.quality{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 251, 251, 0.638);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.q1{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 1rem;
}

/* contact list */

.contactlist{
    background-image: url("../images/w.png");
    height: 40rem;
    width: 100%;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    color: rgb(3, 3, 3);
}

.contact{
    background-color: rgba(238, 238, 238, 0.6);
    height: 100%;
    display: flex;
    gap: 1rem;
}

.contactform{
    padding: 5rem;
    display: flex;
    gap: 1.5rem;
    width: 50%;
    align-items: left;
    flex-direction: column;
}
.contactform input{
    height: 2.5rem;
    padding: 0.5rem;
    background-color: var(--color-white);
    border: 0;
    border-radius: 0.8rem;
    letter-spacing: 0.2rem;
}

.contactform textarea{
    padding: 0.5rem;
    background-color: var(--color-white);
    border: 0;
    border-radius: 0.8rem;
}

.btn-contact{
    width: 6rem;
    height: 2rem;
    font-size: 0.9rem;
    background-color: black;
    color: var(--color-white);
    float: right;
    border: 1px solid var(--color-white);
    border-radius: 0.4rem;
}

.contactpara {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactpara h1{
    font-size: 2.5rem;
}


.contactinfo{
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0rem 4rem 0rem;
}

.contactinfo li{
    list-style-type: none;
    padding: 0.5rem 0rem 0rem 1rem;
}

/* ourwork--------------------------- */

.ourwork{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem;
}

.row-ourwork{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.col-ourwork img {
    height: 20rem;
    width: 25rem;
}

/* pvc profile--------------------------------- */

.pvcprofile{
    height: 100%;
    width: 100%;
    position: relative;
}

.pvcprofile img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem 4rem 14rem;
}

.profile h1{
    font-size: 2rem;
}

.profile-row {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}

.col-profile1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(235 234 234);
    width: 60rem;
    align-items: center;
    padding: 1rem;
}

.profile-container{
    padding: 2rem;
}

.profile-container img{
    height: 30rem;
    width: 100%;
}

.content-profile{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color:var(--color-main);
    color: white;
}

.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6rem;
    gap: 1.5rem;
    width: 50%;
    text-justify: inter-word;
}

.content1 p{
    text-align:justify;
}

.content1 ul li{
    list-style-type: none;
    color: rgb(31, 248, 31);
}

.content2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    align-items: center;
}

.content2-head{
    text-align: center;
}

.content-images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-images img{
    height: 40rem;
    width: 35rem;
    border-radius: 2rem;
}

.content2 ul li{
    list-style-type: none;
}

.content2 h1{
    font-size: 1.4rem;
}
.content2 p a{
    text-decoration: none;
    color: rgb(34, 225, 34);
}

.whyus{
    background-color: rgb(233, 233, 233);
    display: flex;
    padding: 4rem;
    gap: 2rem;
}

.whyus-img{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.whyus-img img{
    height: 20rem;
    width: 40rem;
}

.whyus-content{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: justify;
}

.whyus-content p{
    line-height: 1.5rem;  
}


/* pvc Door & Windows --------------------------- */

.door-row{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0rem 0rem 0rem 4rem;
}

.col-door{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(209, 207, 207);
    width: 50rem;
    align-items: center;
    padding: 1rem;
}

.door-img{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.door-img img{
    height: 20rem;
    width: 40rem;
}

.door-whyus-img{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.door-whyus-img img{
    height: 12rem;
    width: 34rem;
    gap: 1rem;
}

.structure{
    display: flex;
    background-color: rgb(6, 6, 6);
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: var(--color-white);
}

.structure-img img{
    height: 40rem;
    width: 38rem;
}

.structure-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* pvc Flooring ----------------------------------- */

/* flooring ----------------- */
.btn-more{
    width: 20rem;
    height: 1.8rem;
    background-color: rgb(54, 201, 208);
    color: black;
    border: 0;
    border-radius: 0.6rem;
    letter-spacing: 0.1rem;
}

.pvcfloors{
    height: 100%;
    width: 100%;
    position: relative;
}

.pvcfloors img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.floors{
    position: absolute;
    top: 0%;
    left: 0%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem 4rem 14rem;
    gap: 1rem;
}

.footer-logo img{
    height: 6rem;
    width: 6rem;
}

.q1 img{
    height: 3.5rem;
    width: 3.5rem;
}

/* footer style */

footer, footer h1{
    background-color: var(--color-black-shade);
    color: rgb(39, 234, 39);
    font-size: 1.2rem;
}

footer h1{
    padding: 1.4rem 0rem 1.4rem 1.8rem;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    color: var(--color-white);
}

.footer-row .footer-ul h4{
    font-size: 1rem;
    padding: 0.4rem 0rem 0.4rem 0rem;
}

.footer-row ul li{
    list-style: none;
    font-size: 0.8rem;
}

.footerSec-row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
}
.footerSec-row h6{
    display: flex;
    gap: 0.4rem;
}
.footerSec-row h5{
    display: flex;
    gap: 0.4rem;
}

.footerLast p{
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 1.4rem 0rem 1.2rem 1.8rem;
}
.footerLast p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.head-nav{
    display: none;
}


/* rate icon */
.rate-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.rate-icons img{
    height: 1.5rem;
    width: 1.5rem;
}

ul li img{
    height: 0.8rem;
    width: 0.8rem;
}


@media only screen and (max-width: 1230px)
{
    .structure{
        gap: 1rem;
    }
    .structure-img{
        width: 30%;
    }
    .structure-content{
        width: 70%;
    }
    .structure-img img {
        height: 30rem;
        width: 20rem;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .content-images img{
        height: 40rem;
        width: 35rem;
    }
} 

@media only screen and (max-width: 1160px){
    .para {
        left: 12rem;
        width: 26rem;
    }
    .nav{
        display: block;
        padding: 1rem;
    }
    .content img{
        padding: 4.2rem 0rem 1.2rem 4rem
    }
    .card-pro {
        gap: 2rem;
        padding: 0rem 11rem 0rem 11rem;
    }
    .whyus{
        padding: 3rem;
    }

    .whyus-img{
        gap: 3rem;
    }

    .whyus-img img {
        height: 15rem;
        width: 30rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .structure{
        gap: 1rem;
    }
    .structure-img{
        width: 30%;
    }
    .structure-content{
        width: 70%;
    }
    .structure-img img {
        height: 26rem;
        width: 16em;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .content-images img{
        height: 40rem;
        width: 32rem;
    }
}


@media only screen and (max-width: 1030px){
    .para {
        left: 5rem;
        width: 22rem;
    }
    .nav{
        display: block;
        padding: 1rem;
    }

    .productsh1 {
        padding: 2rem;
    }

    .card-pro {
        gap: 2rem;
        padding: 0rem 10rem 0rem 10rem;
    }

    .whyus{
        padding: 3rem;
    }

    .whyus-img{
        gap: 3rem;
    }

    .whyus-img img {
        height: 15rem;
        width: 27rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .content-row{
        flex-wrap: wrap;
    }
    .content-profile{
        flex-wrap: wrap;
    }
    .content1{
        width: 100%;
        gap: 0;
        line-height: 1.4rem;
    }
    .content2{
        width: 100%;
        gap: 1rem;
        line-height: 1.2;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 40rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 36rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .content-images img{
        height: 45rem;
        width: 38rem;
    }
}

@media only screen and (max-width: 990px){
    .para {
        left: 4rem;
        width: 18rem;
        height: 16rem;
    }
    .nav{
        display: block;
        padding: 1rem;
    }
    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
    }
    .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
    }
    .rate-col-1 {
        width: 11rem;
    }

    .content img {
        padding: 2.2rem 0rem 2.2rem 4rem;
        height: 30rem;
        width: 21rem;
    }
    .paragraph {
        padding: 1rem;
    }
    .paragraph p {
        line-height: 1.2rem;
        font-size: 0.9rem;
    }
    .rate-row {
        gap: 0rem;
    }
    .rate-para h1, h2 {
        font-size: 1rem;
    }
    .rate-para p{
        font-size: 0.9rem;
    }
    .ourmissionpara p {
        padding: 1rem 2rem 2rem 2rem;
    }
    .card-pro {
        gap: 2rem;
        padding: 0rem 8rem 0rem 8rem;
    }

    .whyus{
        padding: 3rem;
    }

    .whyus-img{
        gap: 3rem;
    }

    .whyus-img img {
        height: 16rem;
        width: 25rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .content-row{
        flex-wrap: wrap;
    }
    .content-profile{
        flex-wrap: wrap;
    }
    .content1{
        width: 100%;
        gap: 0;
        line-height: 1.4rem;
    }
    .content2{
        width: 100%;
        gap: 1rem;
        line-height: 1.2;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 40rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 36rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .content-images img{
        height: 45rem;
        width: 40rem;
    }

    .contactinfo {
        gap: 1rem;
    }
    .contactinfo li{
       font-size: 0.9rem;
    }

    .contactinfo h1{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width : 930px)
{
    .card-pro {
        gap: 2rem;
        padding: 0rem 7rem 0rem 7rem;
    }
    .card-pro-para {
        gap: 1rem;
    }
    .card-pro img {
        height: 22rem;
        width: 20rem;
    }

    .whyus{
        padding: 2rem;
    }

    .whyus-img{
        gap: 4rem;
    }

    .whyus-img img {
        height: 16rem;
        width: 22rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }

    .profile {
        padding: 4rem 0rem 4rem 10rem;
    }
    .content-row{
        flex-wrap: wrap;
    }
    .content-profile{
        flex-wrap: wrap;
    }
    .content1{
        width: 100%;
        gap: 1rem;
        line-height: 1.4rem;
    }

    .content2{
        width: 100%;
        gap: 1rem;
        line-height: 1.2;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 40rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 36rem;
    }
    .content1 h1{
        line-height: 1.2;
    }

    .col-door{
        width: 45rem;
        gap: 0.8rem;
    }
    .col-door h1{
        font-size: 1.3rem;
    }
    .contactform{
        width: 70%;
        padding: 2rem;
        gap: 1rem;
    }
    .contactinfo {
        padding: 1.2rem 0rem 1.2rem 0rem;
        gap: 1rem;
        width: 30%;
    }
    .contactinfo li{
       font-size: 0.9rem;
    }

    .contactinfo h1{
        font-size: 1.1rem;
    }
    .q1 img{
        height: 3.5rem;
        width: 3..5rem;
    }
    .footer-logo img{
        height: 3.8rem;
        width: 3.8rem;
    }
    .footer-row{
        gap: 1rem;
    }
    .logo img{
        height: 7rem;
        width: 8rem;
    }
}

@media only screen and (max-width: 780px){
    .para {
        left: 8rem;
        width: 18rem;
        height: 14rem;
    }

    .card-l {
        width: 20rem;
        height: 20rem;
    }
    .card-l-b {
        width: 20rem;
        height: 20rem;
    }
    .nav{
        display: block;
        padding: 1rem;
    }

    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .img img{
        height: 14rem;
        width: 16rem;
        padding: 0rem 3rem 0rem 0rem;
    }
   .card-body{
        text-align: center;
        line-height: 1rem;
    }
    .rate-row{
        flex-wrap: wrap;
    }
    .rate-col-1 {
        width: 12rem;
        margin: 1rem 0rem 0rem 0rem;
    }
    .productsh1{
        padding: 2.3rem;
    }
    .card-pro {
        gap: 2rem;
        padding: 0rem 4rem 0rem 4rem;
    }
    .card-pro-para {
        gap: 1rem;
    }
    .card-pro img {
        height: 22rem;
        width: 20rem;
    }
    .whyus{
        padding: 2rem;
    }
    .whyus-img{
        gap: 10rem;
    }
    .whyus-img img {
        height: 14rem;
        width: 16rem;
    }
    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .profile {
        padding: 4rem 0rem 4rem 8rem;
    }
    .col-profile1 h1 {
        font-size: 1.6rem;
    }
    .content-row{
        flex-wrap: wrap;
    }
    .content-profile{
        flex-wrap: wrap;
    }
    .content1{
        width: 100%;
        gap: 1rem;
        line-height: 1.4rem;
    }
    .content2{
        width: 100%;
        gap: 1rem;
        line-height: 1.2;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 40rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 36rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .col-door{
        width: 40rem;
        gap: 0.8rem;
    }
    .col-door h1{
        font-size: 1.3rem;
    }
    .floors {
        padding: 2rem 0rem 2rem 6rem;
    }
}


@media only screen and (max-width: 700px){
    .para {
        left: 8rem;
        width: 18rem;
        height: 14rem;
    }
    .nav{
        display: block;
        padding: 1rem;
    }
    .nav ul li{
        font-size: 1rem;
    }

    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .img img{
        height: 14rem;
        width: 14rem;
        padding: 0rem 1.8rem 0rem 0rem;
    }
    
    .card-body{
        text-align: center;
        line-height: 1rem;
    }

    .card-body p{
        font-size: 0.8;
    }
    .card-head h1{
        font-size: 1.2rem;
    }

    .card-pro {
        gap: 2rem;
        padding: 0rem 4rem 0rem 4rem;
    }
    .card-pro-para {
        gap: 1rem;
    }
    .card-pro img {
        height: 22rem;
        width: 20rem;
    }
    .whyus{
        padding: 2rem;
        flex-direction: column;
    }

    .whyus-img{
        gap: 2rem;
        flex-direction: row;
    }

    .whyus-img img {
        height: 14rem;
        width: 18rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }

    .profile {
        padding: 4rem 0rem 4rem 7rem;
    }
    .col-profile1 h1 {
        font-size: 1.5rem;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 40rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 36rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .col-door{
        width: 34rem;
        gap: 0.8rem;
    }
    .col-door h1{
        font-size: 1.3rem;
    }
    .content-images img{
        height: 40rem;
        width: 35rem;
    }
    .q1 img{
        height: 3.2rem;
        width: 3.2rem;
    }
    .footer-logo img{
        height: 3.6rem;
        width: 3.6rem;
    }
    .footer-row{
        gap: 1rem;
    }
    .logo img{
        height: 7rem;
        width: 8rem;
    }
}

@media only screen and (max-width: 685px){
    .para {
        left: 3rem;
        width: 16rem;
        height: 10rem;
        font-size: 0.9rem;
    }

    .nav{
        display: block;
        padding: 1rem;
    }

    .nav ul li{
        font-size: 1rem;
     }
    .nav ul{
        gap: 1rem;
    }

    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .img img{
        height: 14rem;
        width: 14rem;
        padding: 0rem 1.8rem 0rem 0rem;
    }
    
    .card-body{
        text-align: center;
        line-height: 1rem;
    }

    .card-body p{
        font-size: 0.8;
    }
    .card-head h1{
        font-size: 1.2rem;
    }
    .col-1{
        width: 90%;
    }
    
    .col-2{
        width: 90%;
    }

    .card-pro {
        gap: 2rem;
        padding: 0rem 4rem 0rem 4rem;
    }
    .card-pro-para {
        gap: 0.8rem;
    }
    .card-pro img {
        height: 24rem;
        width: 20rem;
    }
    
    .whyus{
        padding: 2rem;
        flex-direction: column;
    }

    .whyus-img{
        gap: 2rem;
        flex-direction: row;
    }

    .whyus-img img {
        height: 14rem;
        width: 18rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .profile {
        padding: 4rem 0rem 4rem 6rem;
    }
    .col-profile1 h1 {
        font-size: 1.4rem;
    }
    .profile-container img {
        height: 15rem;
        width: 100%;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 30rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 34rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .door-whyus-img img{
        width: 32rem;
    }

    .col-door{
        width: 34rem;
        gap: 0.5rem;
    }
    .col-door h1{
        font-size: 1.2rem;
    }
    .floors {
        padding: 2rem 0rem 2rem 5rem;
    }
    .content-images img{
        height: 38rem;
        width: 32rem;
    }
    .contactform{
        width: 70%;
        padding: 2rem;
        gap: 1rem;
    }
    .contactinfo {
        padding: 1.2rem 0rem 1.2rem 0rem;
        gap: 1rem;
        width: 30%;
    }
    .contactinfo li{
       font-size: 0.9rem;
    }

    .contactinfo h1{
        font-size: 1.1rem;
    }
    .q1 img{
        height: 3rem;
        width: 3rem;
    }
    .footer-logo img{
        height: 3.5rem;
        width: 3.5rem;
    }
    .footer-row{
        gap: 1rem;
    }
    .logo img{
        height: 7rem;
        width: 8rem;
    }
}
@media only screen and (max-width: 655px)
{
    .content {
        flex-wrap: wrap;
     }
     .content img {
         padding: 2rem 0rem 0rem 1rem;
         height: 30rem;
         width: 35rem;
     }
     .aboutus{
         padding: 1rem;
     }

     .card-pro {
        gap: 2rem;
        padding: 0rem 2rem 0rem 2rem;
    }
    .card-pro-para {
        gap: 0.8rem;
    }
    .card-pro{
        background-color: rgb(36, 36, 36);
        height: 22rem;
    }

    .card-pro:last-child{
        margin: 0rem;
    }
    .card-pro img {
        height: 16rem;
        width: 14rem;
    }

    .card-pro-para h3{
        font-size: 1.1rem;
        color: white;
    }
    .card-pro-para p{
        color: white;
        font-size: 0.9rem;
    }
    .btn-read-more {
        height: 1.5rem;
        width: 5rem;
        font-size: 0.7rem;
        background-color: white;
        border: 1px solid black;
        border-radius: 0.5rem;
    }
    .quality {
        gap: 2rem;
        justify-content: center;
    }
    .q1 {
        text-align: center;
    }
    .q1 h2{
        font-size: 1.2rem;
    }

    .q1 p{
        font-size: 1rem;
        text-align: center;
    }

    
    .whyus{
        padding: 2rem;
        flex-direction: column;
    }

    .whyus-img{
        gap: 2rem;
        flex-direction: row;
    }

    .whyus-img img {
        height: 12rem;
        width: 15rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }

    .profile {
        padding: 4rem 0rem 4rem 5rem;
    }
    .col-profile1 h1 {
        font-size: 1.4rem;
    }
    .profile-container img {
        height: 14rem;
        width: 100%;
    }
    .content-col img {
        height: 5rem;
        width: 5rem;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 30rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 34rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .door-whyus-img img{
        width: 32rem;
    }
    .col-door{
        width: 30rem;
        gap: 0.5rem;
    }
    .col-door h1{
        font-size: 1.2rem;
    }
    .content-images img{
        height: 34rem;
        width: 30rem;
    }
    .contactform{
        width: 100%;
        padding: 2rem;
        gap: 1rem;
    }
    .contactinfo {
        display: none;
    }
}

@media only screen and (max-width: 540px){

    .productsh1 h1{
        font-size: 1.2rem;
    }

    .nav ul li{
        font-size: 1rem;
     }
    .nav ul{
        gap: 1rem;
    }

    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .img img{
        height: 12rem;
        width: 12rem;
        padding: 0rem 1.8rem 0rem 0rem;
    }
    
    .card-body{
        text-align: center;
        line-height: 1rem;
    }

    .card-body p{
        font-size: 0.7;
    }
    .card-head h1{
        font-size: 1rem;
    }
    .col-1{
        width: 90%;
    }
    
    .col-2{
        width: 90%;
    }
    .btn-learnmore {
        height: 1.5rem;
        width: 5rem;
        background-color: #000;
        border-radius: 0.5rem;
        color: var(--color-white);
    }
    .content {
        flex-wrap: wrap;
     }
     .content img {
         padding: 2rem 0rem 0rem 1rem;
         height: 30rem;
         width: 30rem;
     }
     .aboutus{
         padding: 1rem;
         font-size: 1rem;
     }

     .aboutus p{
        font-size: 0.9rem;
     }

     .card-pro-para {
        gap: 0.8rem;
    }

    .card-pro{
        gap: 1rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .card-pro img {
        height: 14rem;
        width: 12rem;
    }

    .card-pro-para h3{
        font-size: 1.1rem;
    }
    .card-pro-para p{
        font-size: 0.9rem;
    }
    .quality {
        gap: 1.5rem;
        justify-content: center;
    }
    .q1 {
        text-align: center;
    }
    .q1 h2{
        font-size: 1rem;
    }

    .q1 p{
        font-size: 0.9rem;
        text-align: center;
    }

    .whyus{
        padding: 1.5rem;
        flex-direction: column;
    }

    .whyus-img{
        gap: 1rem;
        flex-direction: row;
    }

    .whyus-img img {
        height: 12rem;
        width: 14rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }

    .profile {
        padding: 4rem 0rem 4rem 4rem;
    }
    .col-profile1 h1 {
        font-size: 1.3rem;
    }
    .profile-container img {
        height: 13rem;
        width: 100%;
    }
    .content-row{
        flex-wrap: nowrap;
    }
    .content-col img {
        height: 5rem;
        width: 5rem;
    }
    .content-profile{
        flex-wrap: wrap;
    }
    .content1{
        width: 100%;
        gap: 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .content1 h1{
        line-height: 1.2;
        font-size: 1.6rem;
    }

    .content2{
        width: 100%;
        gap: 1rem;
        line-height: 1.1;
    }
    .structure{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 20rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 32rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .door-whyus-img img{
        width: 30rem;
    }

    .col-door{
        width: 24rem;
        gap: 0.5rem;
    }
    .col-door h1{
        font-size: 1.2rem;
    }
    .floors {
        padding: 2rem 0rem 2rem 4rem;
    }
    .content-images img{
        height: 30rem;
        width: 25rem;
    }
    .floors{
        gap: 0.5rem;
    }
    .q1 img{
        height: 2.8rem;
        width: 2.8rem;
    }
    .footer-logo img{
        height: 3.2rem;
        width: 3.2rem;
    }
    .footer-row{
        gap: 0.8rem;
    }
    .logo img{
        height: 6rem;
        width: 7rem;
    }
}

@media only screen and (max-width: 490px){

    .para {
        top: 3rem;
        left: 3rem;
        width: 18rem;
        height: 8rem;
        font-size: 0.9rem;
    }

    .nav{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1rem;
        display: none;
        border-bottom-left-radius:1.2rem;
        border-bottom-right-radius: 1.2rem;
    }

    .nav ul li{
        font-size: 1rem;
     }
    .nav ul{
        gap: 1rem;
    }

    .nav ul li a{
        color: var(--color-white);
    }
    .nav ul{
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 1.2rem;
    }

    .nav ul li a:before{
        background-color: rgb(117, 117, 117);
    }
    
    .nav ul li a:hover:before{
        width: 100%;
        background-color: #f7f6ff;
    }

    .head-nav{
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        background-color: var(--color-black-shade);
        padding: 0.8rem;
    }
    .head-nav h2{
        color: var(--color-white);
    }

    .head-nav button{
        border: 0;
        border-radius: 0.3rem;
        padding: 0.4rem;
        cursor: pointer;
    }
    .footer-row {
        justify-content: center;
        gap: 1rem;
    }

    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .img img{
        height: 12rem;
        width: 12rem;
        padding: 0rem 1.8rem 0rem 0rem;
    }
    
    .card-body{
        text-align: center;
        line-height: 1rem;
    }

    .card-body p{
        font-size: 0.7;
    }
    .card-head h1{
        font-size: 1rem;
    }
    .col-1{
        width: 90%;
    }
    
    .col-2{
        width: 90%;
    }
    .btn-learnmore {
        height: 1.3rem;
        width: 4.5rem;
        background-color: #000;
        border-radius: 0.5rem;
        color: var(--color-white);
        font-size: 0.8rem;
    }
    .content {
        flex-wrap: wrap;
     }
     .content img{
        padding: 1rem 0rem 0rem 1rem;
        height: 28rem;
        width: 26rem;
    }
     .content-col img {
        height: 4rem;
        width: 4rem;
    }
     .aboutus{
         padding: 1rem;
     }
     .card-pro-para {
        gap: 0.8rem;
    }

    .card-pro{
        gap: 1rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .card-pro img {
        height: 14rem;
        width: 12rem;
    }

    .card-pro-para h3{
        font-size: 1rem;
    }
    .card-pro-para p{
        font-size: 0.9rem;
    }

    .whyus{
        padding: 1rem;
        flex-direction: column;
    }

    .whyus-img{
        gap: 0.6rem;
        flex-direction: row;
    }

    .whyus-img img {
        height: 10rem;
        width: 12rem;
    }

    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .profile {
        padding: 4rem 0rem 4rem 2rem;
    }
    .col-profile1 h1 {
        font-size: 1.2rem;
    }
    .profile-container img {
        height: 12rem;
        width: 100%;
    }

    .structure-img{
        width: 100%;
    }
    .structure-content{
        width: 100%;
    }
    .structure-img img {
        height: 28rem;
        width: 100%;
    }
    .structure-content h1{
        font-size: 1rem;
    }
    .structure-content p{
        gap: 0.9rem;
        font-size: 0.9rem;
    }
    .door-img img{
        width: 26rem;
    }
    .content1 h1{
        line-height: 1.2;
    }
    .door-whyus-img img{
        width: 25rem;
    }
    .col-door{
        width: 20rem;
        gap: 0.5rem;
    }
    .col-door h1{
        font-size: 1.2rem;
    }
    .floors {
        padding: 2rem 0rem 2rem 3rem;
    }
    .content-images img{
        height: 28rem;
        width: 24rem;
    }
    .floors{
        gap: 0.5rem;
    }
    .q1 img{
        height: 2.8rem;
        width: 2.8rem;
    }
    .footer-logo img{
        height: 3.2rem;
        width: 3.2rem;
    }
    .footer-row{
        gap: 0.8rem;
    }
    .logo img{
        height: 4rem;
        width: 5rem;
    }
}

@media only screen and (max-width: 400px){
    
    .para {
        top: 2rem;
        left: 2rem;
        width: 18rem;
        height: 7rem;
        font-size: 0.9rem;
    }

    .para h1, p{
        font-size: 1rem;
    }
    .footer-row {
        justify-content: center;
        gap: 1rem;
    }

    .content img{
        padding: 1rem 0rem 0rem 1rem;
        height: 26rem;
        width: 24rem;
    }

    footer h1 {
        padding: 1.4rem 0rem 1.4rem 1rem;
    }

    .footerLast p {
        padding: 1.4rem 0rem 1.2rem 1rem;
    }

    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }
    .img img{
        height: 12rem;
        width: 10rem;
        padding: 0rem 1.8rem 0rem 0rem;
    }
    
    .card-body{
        text-align: center;
        line-height: 1rem;
    }

    .card-body p{
        font-size: 0.9rem;
    }
    .card-head h1{
        font-size: 1rem;
    }
    .col-1{
        width: 100%;
    }
    
    .col-2{
        width: 100%;
    }
    .btn-learnmore {
        height: 1.4rem;
        width: 4.6rem;
        background-color: #000;
        border-radius: 0.5rem;
        color: var(--color-white);
        font-size: 0.7rem;
    }
    .content {
        flex-wrap: wrap;
     }
     .aboutus{
         padding: 1rem;
     }
     .card-pro-para {
        gap: 0.8rem;
    }
    .card-pro{
        gap: 1rem;
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
    .card-pro img {
        height: 12rem;
        width: 10rem;
    }
    .card-pro-para h3{
        font-size: 1.1rem;
    }
    .card-pro-para p{
        font-size: 0.9rem;
    }
    .quality {
        gap: 1rem;
        justify-content: center;
    }
    .q1 {
        text-align: center;
    }
    .q1 h2{
        font-size: 1rem;
    }
    .q1 p{
        font-size: 0.9rem;
    }
    .whyus{
        padding: 1rem;
        flex-direction: column;
    }
    .whyus-img{
        gap: 0.6rem;
        flex-direction: row;
    }
    .whyus-img img {
        height: 8rem;
        width: 10rem;
    }
    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .profile {
        padding: 4rem 0rem 4rem 1.5rem;
    }
    .profile-row{
        gap: 0.8rem;
    }

    .col-profile1{
        gap: 0.6rem;
    }
    .col-profile1 h1 {
        font-size: 1.1rem;
    }
    .profile-container img {
        height: 11rem;
        width: 100%;
    }
    .content1 h2{
        font-size: 1rem;
    } 
    .content2 h2{
        font-size: 1.2rem;
    }   
    .content-col img {
        height: 3.4rem;
        width: 3.4rem;
    }

    .structure-img img{
        height: 16rem;
    }
    .door-img img{
        width: 22rem;
        height: 10rem;
    }
    .content1 h1{
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .door-whyus-img img{
        width: 21rem;
    }
    .col-door{
        width: 16rem;
        gap: 0.2rem;
    }
    .col-door h1{
        font-size: 0.8rem;
    }
    .col-door p{
        font-size: 0.9rem;
    }
    .floors {
        padding: 2rem 0rem 2rem 1rem;
        font-size: 0.8rem;
    }
    .content-images img{
        height: 26rem;
        width: 22rem;
    }
    .floors{
        gap: 0.2rem;
    }
    .q1 img{
        height: 2.8rem;
        width: 2.8rem;
    }
    .footer-logo img{
        height: 3.2rem;
        width: 3.2rem;
    }
    .footer-row{
        gap: 0.8rem;
    }
    .logo img{
        height: 4rem;
        width: 5rem;
    }

}

@media only screen and (max-width: 370px)
{
    .aboutus{
        padding: 1rem;
    }

    .aboutus h1{
        font-size: 1rem;
    }

    .aboutus p{
       font-size: 0.9rem;
    }
    .card-body p{
        font-size: 0.9rem;
    }
    .content {
        flex-wrap: wrap;
     }
    .content img {
         padding: 2rem 0rem 0rem 1rem;
         height: 24rem;
         width: 21.5rem;
     }
     .aboutus{
         padding: 1rem;
         font-size: 1.1rem;
     }
     .rate-quote {
        padding: 1rem;
    }
    .rate-quote h1{
        font-size: 1.2rem;
    }
    .ourmissionh1 h1 {
        color: var(--color-white);
        font-size: 1.3rem;
        padding: 2rem;
    }
    .card-pro-para {
        gap: 0.8rem;
    }
    .card-pro{
        gap: 1rem;
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
    .card-pro img {
        height: 12rem;
        width: 10rem;
    }
    .card-pro-para h3{
        font-size: 0.9rem;
    }
    .card-pro-para p{
        font-size: 0.8rem;
    }
    .quality {
        gap: 1rem;
        justify-content: center;
    }
    .q1 {
        text-align: center;
    }
    .q1 h2{
        font-size: 0.8rem;
    }

    .q1 p{
        font-size: 0.8rem;
    }
    .whyus{
        padding: 1rem;
        flex-direction: column;
    }
    .whyus-img{
        gap: 0.6rem;
        flex-direction: row;
    }
    .whyus-img img {
        height: 8rem;
        width: 10rem;
    }
    .whyus-content{
        font-size: 0.9rem;
        gap: 0.8rem;
    }
    .profile {
        padding: 1rem 0rem 4rem 1rem;
    }
    .col-profile1 h1 {
        font-size: 1rem;
    }
    .profile-container img {
        height: 10rem;
        width: 100%;
    }
    .content-images img{
        height: 24rem;
        width: 20rem;
    }
    .content2 h1{
        font-size: 1.2rem;
    }
    .content2 p a{
        text-decoration: none;
        color: rgb(25, 149, 25);
    }
    .q1 img{
        height: 2.5rem;
        width: 2.5rem;
    }
    .footer-logo img{
        height: 3rem;
        width: 3rem;
    }
    .footer-row{
        gap: 0.8rem;
    }
    .logo img{
        height: 4rem;
        width: 5rem;
    }

    .door-row{
        padding: 0rem 0rem 0rem 3rem;
    }
    .col-door h4{
        font-size: 1rem;
    }
    .col-door p{
        font-size: 0.8rem;
    }

    .col-profile1 h4{
        font-size: 1rem;
    }
    .col-profile1 p{
        font-size: 0.8rem;
    }

    .col-profile2 p, a{
        font-size: 0.9rem;
    }
}
